In [ ]:
#Run this cell (Do not make any changes)
import pandas as pd
df_users = pd.DataFrame({
    "user_id": [234, 235, 236, 237, 237, 238, 239, 240, 241, 242, 242],
    "Name": ["Tom", "Alex--", "..Thomas", "John", "John", "Paul/", "Emma9", "Joy", "Samantha_", "Emily", "Emily"],
    "Last_name": ["Smith", "johnson", "brown", "Davis", "Davis", "None", "wilson", "Thompson", "Lee", "Johnson", "Johnson"],
    "age": [23, 32, 45, 22, 22, 50, 34, 47, 28, 19, 19],
    "Phone": ["555/123/4567", "333-234-5678", "444_456_7890", "111-222-3333", "111-222-3333", None, "333/987/4567", "222/345_987", "(777) 987-6543", "777-888-9999", "777-888-9999"],
    "Email": ["smith@email.com", "johnson@hotmail.com", "brown@email.com", "davis@mail.com", "davis@mail.com", "John@gmail.com", "wilson@mail.com", "thompson@email.com", "lee@email.com", "emily@hotmail.com", "emily@hotmail.com"],
    "Not_Useful_column": [None, None, None, None, None, None, None, None, None, None, None]
})

print(df_users)

In [ ]:
#Delete duplicated rows

In [ ]:
#Delete unnecessary columns

In [ ]:
#Correct syntax errors in columns

In [ ]:
#Set a unique pattern for a column

In [ ]:
#Delete rows with None values

In [ ]:
#Conclusion
#Data cleaning is a very important step before starting to work with a dataset in data science or machine learning,
#it ensures that the data has no syntax errors, None or NaN values, duplicated rows, unnecessary columns, and many more things.
#A dataset can be clean in many ways not just the ones seen in this article